<launch>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find gundam_rx78_description)/config/urdf.rviz" />

  <include file="$(find gundam_rx78_description)/launch/upload.launch" />

  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg gui)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
